.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

/vendor/
composer.lock

.phpunit.result.cache
coverage/

.env
.env.*
/storage/*.key

*.log

/node_modules/
/npm-debug.log
yarn-error.log

/build/
/dist/
/public/js
/public/css
